:host {
    display: block;
    text-align: center;
    margin: 10px 0;
    color: #000;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &.red  {
        background-color: #ff0000;
    }

    &.gray {
        background-color: var(--main-color);
    }
}

.box {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #555;
    padding: 10px 20px;
    color: #555;
    text-transform: uppercase;
}

.highlight {
    color: #000;
}
