<div>
    <label>
        Character
        <input [(ngModel)]="bias" (ngModelChange)="onModelChange($event)" type="text" [maxLength]=1 [disabled]="biasDisabled">
    </label>

    <button (click)="codeService.triggerGeneration(bias)">Generate 2D Grid</button>
</div>

<div>
    <table *ngIf="codeService.grid">
        <tr *ngFor="let row of codeService.grid">
            <td *ngFor="let cell of row">
                {{ cell }}
            </td>
        </tr>
    </table>
</div>

<div>
    Your code: {{ codeService.code }}
</div>
