<div class="flex">
    <label>
        <div>Character</div>
        <input [(ngModel)]="bias" (ngModelChange)="onModelChange($event)" type="text" [maxLength]=1 [disabled]="biasDisabled">
    </label>
    <div class="clock flex-main">
        <img src="assets/clock.png">
    </div>
    <button (click)="triggerGeneration()">Generate 2D Grid</button>
</div>

<table *ngIf="codeService.grid" class="vspaced">
    <tr *ngFor="let row of codeService.grid">
        <td *ngFor="let cell of row">
            {{ cell }}
        </td>
    </tr>
</table>

<aio-code></aio-code>
