<aio-code></aio-code>

<div class="payment-inputs flex">
    <label>
        <div>Payment</div>
        <input [(ngModel)]="currentPayment" type="text">
    </label>

    <label>
        <div>Amount</div>
        <input [(ngModel)]="currentAmount" type="number">
    </label>

    <button (click)="addPayment()" [disabled]="buttonDisabled">+ Add</button>
</div>

<table class="vspaced">
    <tr>
        <th class="payment-name">Name</th>
        <th class="small-cell">Amount</th>
        <th class="small-cell">Code</th>
        <th class="small-cell">Grid</th>
    </tr>
    <tr *ngFor="let p of payments;">
        <td class="payment-name">{{ p.name }}</td>
        <td class="small-cell">{{ p.amount }}</td>
        <td class="small-cell">{{ p.code }}</td>
        <td class="small-cell">{{ p.grid.length * p.grid[0].length }}</td>
    </tr>
</table>
