header {
    padding: 5px 0;
    color: #fff;
    background-color: var(--main-color);

    .app-bar {
        h1 {
            margin: 5px 0;
            font-size: 24px;
            font-weight: normal;
        }

        nav {
            a {
                color: #ddd;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;

                &:hover, &.active {
                    color: inherit;
                }
            }

            a + a {
                margin-left: 20px;
            }
        }
    }
}


