header {
    color: #fff;
    background-color: #008b8b;

    .app-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        h1 {
            margin: 5px 0;
            flex-grow: 1;
            font-size: 24px;
            font-weight: normal;
        }

        nav {
            a {
                color: #ddd;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;

                &:hover, &.active {
                    color: inherit;
                }
            }

            a + a {
                margin-left: 20px;
            }
        }
    }
}


